body {
	margin: 0;
}

#root {
	height: 100vh;
	max-height: 100vh;
}

.app {
	display: flex;

	height: 100vh;

	padding: 15px 40px;
	box-sizing: border-box;

	/*height: 100%;*/
}

.container {
	/*background-color: red;*/
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
	padding: 0px 5px 10px 5px;

	text-align: center;
}

.header h1 {
	color: #282828;
}

i.back-button {
	border-radius: 50%;

	padding: 7px 9px;

	color: #6c757d;

	transition-duration: 0.4s;
}

i.back-button:hover {
	background-color: #6c757d;
	color: #ffffff;

	cursor: pointer;
}

.container .header h1 {
	align-self: center;
}

.city-list {
	height: 65vh;
	max-height: 70vh;
	overflow-y: scroll;
}

.city-list div.city-button:nth-child(2) {
	border-top: 0px solid black !important;
}

.city-list div.city-button:last-child {
	border-bottom: 0px solid black !important;
}

.city-list .default {
	padding-top: 1.3rem;

	text-align: center;
	font-weight: 500;
	font-size: 1.3rem;
}

.city-button .public-button {
	color: #28a745;
}

.city-button .public-button:hover {
	color: #6c757d;
	cursor: pointer;
}

.city-button .public-button.faded {
	color: #969696;
}

.city-button .public-button.faded:hover {
	color: #6c757d;
	cursor: pointer;
}

.city-button .close-button, 
.update-button, 
.cancel-button {
	color: #969696;
	font-size: 1.2rem;
}

.city-button .close-button:hover {
	color: #707070;
	cursor: pointer;
}

.update-button:hover {
	color: #28a745;
	cursor: pointer;
}

.cancel-button:hover {
	color: #dc3545;
	cursor: pointer;
}

.city-button-main {
	/*width: 100%;*/
	padding: 15px 0;

	/*transition-duration: 0.4s;*/
}

div.name {
	font-size: 1.2rem;
}

div.ref {
	color: #969696;
	font-size: 0.8rem;
}

.city-button-main:hover {
	color: #007bff;
	cursor: pointer;
}

.weather-display {
	padding: 20px 20px 20px 20px;
}

.weather-card {
	padding-bottom: 15px;
}

.weather-card-content {
	height: 100%;
	padding: 5px 10px 10px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);*/

	transition-duration: 0.4s;
}

.weather-card-content.big {
	border-radius: 10px;
}

/*.weather-card-content:hover {
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.1);	
}*/

.weather-card-content.big {
	padding: 5px 10px 15px;
}

.weather-card-content.light-blue {
	background-color: #a0c4ff;
	color: #ffffff;
}

.weather-card-content.dark-blue {
	background-color: #200a91;
	color: #ffffff;
}

.weather-card-content.gray {
	background-color: #aab4c1;
	color: #ffffff;
}

.weather-card-content.white-blue {
	background-color: #d1e2ff;
	color: #ffffff;
}

.weather-card-content.purple {
	background-color: #4f0a91;
	color: #ffffff;	
}

.weather-card-content-header {
	margin-bottom: 15px;
}

.weather-card-content-section {
	padding: 0 15px;
}

.weather-desc {
	font-size: 0.8rem;
}
/*
.custom-toast {
	border-radius: 5px;
}*/

::-webkit-scrollbar {
  width: 5px;
}

/*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}*/
 
::-webkit-scrollbar-thumb {
  background: #dcdcdc; 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8; 
}

.w-60 {
	width: 60% !important;
}

.w-40 {
	width: 40% !important;
}

.border-left-2 {
	border-left: 2px solid #b7bbbf !important
}

.display-5 {
	font-size: 2.5rem !important;
	font-weight: 300;
    line-height: 1.2;
}

.display-6 {
	font-size: 2rem !important;
	font-weight: 300;
    line-height: 1.2;
}

.flex-grow-1 {
	flex-grow: 1 !important;
}

.tree-list div.city-button:nth-child(2) {
	border-top: 0px solid black !important;
}

.tree-list div.city-button:last-child {
	border-bottom: 0px solid black !important;
}

.tree-list .default {
	padding-top: 1.3rem;

	text-align: center;
	font-weight: 500;
	font-size: 1.3rem;
}

.tree-button {
	color: #28a745;
}

.tree-list-main {
	padding: 15px 0;
}